{% extends "base.html" %}

{% block title %}Home - Vijay Thota{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="bio-layout">
        <div class="bio-text">
            <h2>Vijay Thota</h2>
            <p class="position">Graduate Student - Artificial Intelligence, Johns Hopkins University</p>
            <hr>
            <h3>Bio</h3>
            <p>Vijay Thota is a professional with 14 years of IT experience in a global biopharmaceutical organization, currently serving as Senior Manager of Engineering and Operations at Bristol Myers Squibb, NJ. In this role, Vijay is responsible for IT applications related to the medical affairs function.</p>
            <p>Vijay is currently pursuing a Master's degree in Artificial Intelligence at Johns Hopkins University, which he began in May 2024. His completed prerequisite coursework includes:</p>
            <ul>
                <li>605.206 Introduction to Programming Using Python</li>
                <li>605.202 Data Structures</li>
                <li>625.252 Linear Algebra and Its Applications</li>
            </ul>
            <p>Vijay is also currently enrolled in 605.256 Modern Software Concepts in Python.</p>
            <p>Vijay's academic background includes the following degrees:</p>
            <ul>
                <li>Master of Business Administration (MBA) in Information Technology Management from Seton Hall University (May 2018)</li>
                <li>Master of Science (MS) in Electrical Engineering from the State University of New York (May 2009)</li>
                <li>Bachelor of Engineering (BE) in Electrical and Electronic Engineering from Osmania University (May 2007)</li>
            </ul>
            <p>Vijay resides in Lawrence Township, New Jersey.</p>
        </div>
        <div class="bio-image">
            <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="A picture of Vijay Thota">
        </div>
    </div>
</section>
{% endblock %}